@model Blog

<form method="post" action="/user/delete/@Model.Id">
    <input type="hidden" asp-for="@Model.Id">
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                    <h1 class="modal-title fs-5"><b>@Model.Title</b></h1>
                    <a href="/user/home" class="btn-close" aria-label="Close"></a>
                </div>
                <div class="modal-body py-1">
                    <p>Bloğu silmek istediğinize emin misiniz? <br>Bu eylemin geri dönüşü olmayacaktır.</p>
                </div>
                <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                    <button type="submit" class="btn btn-lg btn-danger">Bloğu Sil</button>
                    <a href="/user/home" class="btn btn-lg btn-secondary">Geri Dön</a>
                </div>
            </div>
        </div>
    </div>
</form>
