<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-,cons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Bloghub</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Bloghub</a>
                <ul class="navbar-nav ms-auto">
                @if (User.Identity!.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/logout" class="nav-link">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="/user/login" class="nav-link">Login</a>
                    </li>
                }


            </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>

</html>