@model List<BlogDetailsViewModel>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Popüler Bloglar</h5>
    </div>
    <div class="card-body">
        @foreach (var blogDetail in Model)
        {
            <div class="mb-3">
                <h6 class="mb-0">
                    <a href="/blog/details/@blogDetail.Blog.Url">
                        @blogDetail.Blog.Title
                    </a>
                </h6>
                <div class="text-muted mt-2">
                    <span>Yorum: @blogDetail.CommentCount</span>
                    <span> Beğeni: @blogDetail.LikeCount</span>
                </div>
                <hr class="mt-2 mb-3" />
            </div>
        }
    </div>
</div>