@model IEnumerable<Tag>

<div class="card card-body my-3">
    <form action="@ViewBag.FormAction" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select class="form-select" name="tagUrl">
                        <option value="">Tüm Etiketler</option>
                        @foreach (var tag in Model)
                        {
                            <option value="@tag.Url">@tag.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-secondary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>