@model BlogCreateViewModel

<h2>Blog Oluşturun</h2>
<hr>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-lg-8">
            <div class="mb-3">
                <label asp-for="BlogTitle" class="form-label">Başlık</label>
                <input asp-for="BlogTitle" class="form-control">
                <span asp-validation-for="BlogTitle" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BlogDescription" class="form-label">Açıklama</label>
                <input asp-for="BlogDescription" class="form-control">
                <span asp-validation-for="BlogDescription" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="BlogContent" class="form-label">İçerik</label>
                <textarea asp-for="BlogContent" class="form-control"></textarea>
                <span asp-validation-for="BlogContent" class="text-danger"></span>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="mb-3">
                <label asp-for="BlogImage" class="form-label">Görsel</label>
                <input type="file" name="BlogImage" id="BlogImage" class="form-control">
            </div>

            <div class="mb-3">Etiketler
                <div class="card">
                    <div class="card-body">
                        <ul class="list-inline d-flex flex-wrap gap-2">
                            @foreach (var tag in Model.Tags)
                            {
                                <li class="list-inline-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="SelectedTags" value="@tag.Id"
                                            id="@tag.Id">
                                        <label class="form-check-label" for="@tag.Id">
                                            @tag.Name
                                        </label>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.2.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#BlogContent',
            height: 400,
            plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            toolbar_mode: 'floating',
        });
    </script>
}